@font-face {
  font-family: 'SourceHan';
  src: url(Font.otf);
}
:root {
  --curve: cubic-bezier(0.15, 0, 0.25, 1);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: SourceHan;
}
body {
  background-color: var(--colorBG);
}
body > div {
  position: absolute;
  top: 0;
  left: 0;
}
.bg {
  height: 100vh;
  width: 100vw;
  background-color: rgb(var(--colorBG));
  background-image: radial-gradient(closest-side, rgba(var(--colorI), 1), rgba(var(--colorI), 0)), radial-gradient(closest-side, rgba(var(--colorII), 1), rgba(var(--colorII), 0)), radial-gradient(closest-side, rgba(var(--colorIII), 1), rgba(var(--colorIII), 0)), radial-gradient(closest-side, rgba(var(--colorVI), 1), rgba(var(--colorVI), 0)), radial-gradient(closest-side, rgba(var(--colorV), 1), rgba(var(--colorV), 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
        110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement infinite;
}
.bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
            110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  }
  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax,
            90vmax 90vmax, 60vmax 60vmax;
    background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
  }
  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax,
            60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
  }
  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax,
            90vmax 90vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
  }
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}
.content #title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  transition: opacity 0.5s ease-in, top 0.5s ease-in;
}
.content #title div {
  font-size: 85pt;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.content #title p {
  text-align: end;
  font-size: 20pt;
  color: rgba(255, 255, 255, 0.7);
}
.content .titleHidden {
  opacity: 0;
  top: 40% !important;
  -webkit-filter: blur(var(--blurValue));
  -moz-filter: blur(var(--blurValue));
  -ms-filter: blur(var(--blurValue));
  filter: blur(var(--blurValue));
}
.content #lines {
  position: absolute;
  padding: 40px 0;
  top: 50%;
  transform: translateY(-82px);
  width: 100vw;
  transition: top 1s var(--curve);
}
.content #lines > p {
  transition: all 1s var(--curve);
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  line-height: 84px;
  height: 84px;
  text-align: center;
  -webkit-filter: blur(var(--blurValue));
  -moz-filter: blur(var(--blurValue));
  -ms-filter: blur(var(--blurValue));
  filter: blur(var(--blurValue));
}
.content #lines .focus {
  color: #fff;
  font-size: 64px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.content .linesHidden {
  top: calc(100% + 82px) !important;
}
